.editor-container .ql-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 400px;
  overflow-y: auto;
}

.editor-container .ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.editor-container.ruled-lines .ql-editor {
  background-color: hsl(var(--card));
  color: hsl(var(--foreground));
  background-image: linear-gradient(hsl(var(--border)) 1px, transparent 1px);
  background-size: 100% 1.5rem;
  line-height: 1.5rem;
  font-size: 16px;
  background-position-y: 5px;
  padding-top: 5px;
}

.editor-container.ruled-lines .ql-editor p {
  margin: 0;
  line-height: 1.5rem;
}
