.editor-container .ql-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 400px;
  overflow-y: auto;
}

.editor-container .ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.editor-container .ql-editor {
  background-attachment: local;
  background-image: linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 100% 1.5em;
  line-height: 1.5em;
}
